<img src={{user.profilePicture}} style="border-radius:100%;width:25%;" />
<h1> {{user.fullName}}</h1>

<form action="{{user._id}}/newQuestion" method="POST">
    <h3>Ask {{user.fullName}}</h3>
    <input type='text' placeholder="What, When, Why ... Ask ..." name="question" />
    <button type='submit'>Send</button>
</form>
{{#each posts}}
<div style="border:1px solid black; margin : 10px 0;padding :20px; width : 14.75%;">
    <h3>{{this.question}}</h3>
    <p>{{this.answer}}</p>
</div>
{{/each}}