<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="/">Anonask</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/account/inbox"><i class="fas fa-question-circle"
                    style="font-size : 24px;"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="fas fa-user-circle" style="font-size : 24px;"></i><span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/people"><i class="fas fa-user-friends this"
                    style="font-size : 24px;"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/notifications"><i class="fas fa-bell" style="font-size : 24px;"></i><span
                    class="badge badge-secondary" id="notifications"></span></a>
        </li>
        <li class="nav-item dropdown">
            <label class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog" style="font-size : 24px;"></i></label>
            <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown"
                style="left : -90px; top : 50px; border: none;">
                <a class="dropdown-item btn-light" href="#">Settings</a>
                <a class="dropdown-item btn-light" href="#" id="logout">Log Out</a>
            </div>
        </li>
    </ul>
</nav>


<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <img src={{user.profilePicture}} style="border-radius:100%; width :200px;"
            class="img-thumbnail mx-auto d-block mb-3" />
        <h1> {{user.fullName}}</h1>
        <p class="lead mb-0"><i class="fas fa-ellipsis-h" style="font-size : 30px;"></i></p>
    </div>
</div>
<div class="container">
    <div class="row">
        {{!-- POSTS --}}
        <div class="col-sm order-last order-md-first">
            <div class="card mx-auto mb-3" style="">
                <div class="card-body">
                    <h3>Ask {{user.fullName}}</h3>
                    <form action="/account/people/{{user._id}}/newQuestion" method="POST">
                        <input type='text' placeholder="What, When, Why ... Ask ..." name="question"
                            class="form-control"></input>
                        <button type='submit' class="form-control btn btn-dark my-3">Send</button>
                    </form>
                </div>
            </div>
            <div class="card mx-auto mb-3" style=" border:none;">
                <div class="row btn-group btn-group-toggle" data-toggle="buttons">
                    <div class="col pr-0">
                        <button type="button"
                            style="border-right:none; border-top-right-radius: 0;border-bottom-right-radius:0;"
                            class="btn btn-outline-dark btn-block mx-0 btn-sm active">Latest</button>
                    </div>
                    <div class="col pl-0">
                        <button type="button"
                            style="border-left:none; border-top-left-radius: 0;border-bottom-left-radius:0;"
                            class="btn btn-outline-dark btn-block btn-sm">Top</button>
                    </div>
                </div>

            </div>
            {{#each posts}}
            <div class="card mx-auto mt-3" style="">
                <div class="card-body">
                    <h3>{{this.question}}</h3>
                    <p class="lead">{{this.answer}}</p>
                    <label id="like-post" questionId="{{this.questionId}}" postId="{{this._id}}" class="float-left"><i
                            class="fas fa-heart" style="color:#cdcdd9; font-size : 24px;"></i>
                    </label>

                </div>
            </div>
            {{/each}}
        </div>
        {{!-- Details --}}
        <div class="col">
            <div class="card mx-auto mb-3" style="">
                <div class="card-body">
                    <div class=" row">
                        <div class="col text-center">
                            <h5>Posts</h5>
                            <h5 id="n-posts"></h5>
                        </div>
                        <div class="col text-center">
                            <h5>Likes</h5>
                            <h5>0</h5>
                        </div>
                    </div>
                    <div class="container mt-5">

                        <h4 class="mb-4">About {{user.fullName}}</h4>
                        <div class="d-flex">
                            <label><i class="fas fa-user"></i></label>
                            <p class="mx-3">Tell us something about yourself…</p>
                        </div>
                        <div class="d-flex">
                            <label><i class="fas fa-map-marker-alt"></i></label>
                            <p class="mx-3">Add location…</p>
                        </div>
                        <div class="d-flex">
                            <label><i class="fas fa-link"></i></label>
                            <p class="mx-3">Add links…</p>
                        </div>
                        <div class="d-flex">
                            <label><i class="fas fa-hashtag"></i></label>
                            <p class="mx-3">Add interests…</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/javascripts/logout.js"></script>
<link rel='stylesheet' href='/stylesheets/navbar.css' />

<script>
    axios.post("/notifications").then(res => {
        if (res.data.total > 0) {
            document.querySelector("#notifications").innerHTML = `${res.data.total}`
        } else {
            document.querySelector("#notifications").innerHTML = ''
        }
    })
    setInterval(() => {
        axios.post("/notifications").then(res => {
            if (res.data.total > 0) {
                document.querySelector("#notifications").innerHTML = `${res.data.total}`
            } else {
                document.querySelector("#notifications").innerHTML = ""
            }
        })
    }, 2000)
</script>

<script>
    axios.post("{{user._id}}/number-of-posts").then(res => {
        document.querySelector("#n-posts").innerText = res.data.npost;
    })
</script>