<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="/">Anonask</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/account/inbox"><i class="fas fa-question-circle"
                    style="font-size : 24px;"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="fas fa-user-circle this" style="font-size : 24px;"></i><span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/people"><i class="fas fa-user-friends" style="font-size : 24px;"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/notifications"><i class="fas fa-bell" style="font-size : 24px;"></i></a>
        </li>
        <li class="nav-item">
            <label class="nav-link" id="logout"><i class="fas fa-cog" style="font-size : 24px;"></i></label>
        </li>
    </ul>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <img src={{currentUser.profilePicture}} style="border-radius:100%; width :200px;"
            class="img-thumbnail mx-auto d-block mb-3" />
        <h1> {{currentUser.fullName}}</h1>
        <p class="lead mb-0"><i class="fas fa-ellipsis-h" style="font-size : 30px;"></i></p>
    </div>
</div>
<div class="container">
    <div class="row">
        {{!-- POSTS --}}
        <div class="col order-last order-md-first">
            <div class="card mx-auto mb-3" style="width:70vh;">
                <div class="card-body">
                    <h3>Ask Yourself</h3>
                    <form action="profile/new/question" method="POST">
                        <textarea type='text' placeholder="What, When, Why ... Ask ..." name="question"
                            class="form-control"></textarea>
                        <button type='submit' class="form-control btn btn-dark my-3">Send</button>
                    </form>
                </div>
            </div>
            <div class="card mx-auto mb-3" style="width:70vh; border:none;">
                <div class="row btn-group btn-group-toggle" data-toggle="buttons">
                    <div class="col pr-0">
                        <button type="button"
                            style="border-right:none; border-top-right-radius: 0;border-bottom-right-radius:0;"
                            class="btn btn-outline-dark btn-block mx-0 btn-sm active">Latest</button>
                    </div>
                    <div class="col pl-0">
                        <button type="button"
                            style="border-left:none; border-top-left-radius: 0;border-bottom-left-radius:0;"
                            class="btn btn-outline-dark btn-block btn-sm">Latest</button>
                    </div>
                </div>

            </div>
            {{#each posts}}
            <div class="card mx-auto mt-3" style="width:70vh;">
                <div class="card-body">
                    <h3>{{this.question}}</h3>
                    <p class="lead">{{this.answer}}</p>
                    <label id="like-post" questionId="{{this.questionId}}" postId="{{this._id}}" class="float-left"><i
                            class="fas fa-heart" style="color:#cdcdd9; font-size : 24px;"></i>
                    </label>
                    <button type="submit" id="delete-post" questionId="{{this.questionId}}" postId="{{this._id}}"
                        class="btn btn-danger btn-sm float-right"> Delete
                    </button>
                </div>
            </div>
            {{/each}}
        </div>
        {{!-- Details --}}
        <div class="col">
            <div class="card mx-auto mb-3" style="width:70vh;">
                <div class="card-body">
                    <div class=" row">
                        <div class="col text-center">
                            <h5>Posts</h5>
                            <h5>0</h5>
                        </div>
                        <div class="col text-center">
                            <h5>Likes</h5>
                            <h5>0</h5>
                        </div>
                    </div>
                    <div class="container mt-5">
                        <label class="float-right small mt-2"><i class="fas fa-pen"></i> Edit
                            Profile</label>
                        <h4 class="mb-4">About Me</h4>
                        <div class="d-flex">
                            <label><i class="fas fa-user"></i></label>
                            <p class="mx-3">Tell us something about yourself…</p>
                        </div>
                        <div class="d-flex">
                            <label><i class="fas fa-map-marker-alt"></i></label>
                            <p class="mx-3">Add location…</p>
                        </div>
                        <div class="d-flex">
                            <label><i class="fas fa-link"></i></label>
                            <p class="mx-3">Add links…</p>
                        </div>
                        <div class="d-flex">
                            <label><i class="fas fa-hashtag"></i></label>
                            <p class="mx-3">Add interests…</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<link rel='stylesheet' href='/stylesheets/navbar.css' />
<script src="/javascripts/profile.js"></script>
<script src="/javascripts/logout.js"></script>

<style>
    .fa-ellipsis-h:hover {
        cursor: pointer;
    }
</style>