<img src={{currentUser.profilePicture}} style="border-radius:100%;width:25%;" />
<h1> {{currentUser.fullName}}</h1>

<form action="profile/new/question" method="POST">
    <h3>Ask Yourself</h3>
    <input type='text' placeholder="What, When, Why ... Ask ..." name="question" />
    <button type='submit'>Send</button>
</form>
{{#each posts}}
<div style="border:1px solid black; margin : 10px 0;padding :20px; width : 14.75%;">
    <h3>{{this.question}}</h3>
    <p>{{this.answer}}</p>
    {{!-- <form action="/" method="POST"> --}}
    <button type="submit" id="delete-post" questionId="{{this.questionId}}" postId="{{this._id}}"> Delete </button>
    {{!-- </form> --}}
</div>
{{/each}}


<script src="/javascripts/profile.js"></script>